
$primary-color:#373f6f;
$secondary-color:#0ACE99;
$black: #000;
$white: #fff;

$font-size-text: 14px;
$font-size-h1: 24px;

$big-shadow: 0 0 24px rgba(0, 0, 0, .4);
$small-shadow: 0 0 12px rgba(0, 0, 0, .4);