.features {
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;

	.title {
		margin-bottom: 10%;
	}
	
	.card {
		box-shadow: $small-shadow;
		padding: 15px;
		margin-bottom: 30px;
	}

	img {
		width: 70px;
	}

	.picture {
		background: linear-gradient(45deg,lighten($secondary-color, 20%), $secondary-color);
		@include align-item(center, center);
	}

	.caption{
		text-align: left;

		h2{
			margin-top: 0;
		}
	}

	hr{
		@include title-line($secondary-color, 30px);
	}
}